.wrapper {
  margin: 2vh;
}

.navbar {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 10px 5px;
}

.navbar a,
.navbar a:link,
.navbar a:hover,
.navbar a:active,
.navbar a:visited {
  color: #000;
  text-decoration: none
}

.logo {
  font-weight: bold;
}

.content {
  padding: 10px;
}

.loading-indicator {
  height: 0.5vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1031;
  transform: translate(100%, 0);
  background: #00f;
  width: 80%;
  transition: all 1s;
  opacity: 0.0;
}

.loading-indicator.active {
  animation: loading-bar 2s infinite linear;
  opacity: 1.0;
}

@keyframes loading-bar {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

.play-cell {
  display: flex;
}

.info-set {
  flex: 1 1;
}

.icon-set {
  display: flex;
  flex: 0 0;
  flex-direction: column;
}

.icon-set > * {
  width: 16px;
}

.ui.label.player-label {
  display: inline-flex;
  align-items: center;
  padding: 5px 5px 5px 7px;
}

.ui.label.player-label > .detail {
  margin-left: 5px;
}
