.wrapper {
  margin: 2vh auto;
  width: 1000px;
}

.navbar {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 10px 5px;
}

.navbar a,
.navbar a:link,
.navbar a:hover,
.navbar a:active,
.navbar a:visited {
  color: #000;
  text-decoration: none
}

.logo {
  font-weight: bold;
}

.content {
  padding: 10px;
}

.loading-indicator {
  height: 0.5vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1031;
  transform: translate3d(100vw, 0, 0);
  background: #00f;
  width: 80%;
  transition: all 1s;
}

.loading-indicator.active {
  animation: loading-bar 2s infinite linear;
}

@keyframes loading-bar {
  0% {
    transform: translate3d(-100vw, 0, 0);
  }

  100% {
    transform: translate3d(100vw, 0, 0);
  }
}

.ten-by-ten {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-collapse: collapse;
}

.ten-by-ten tbody th,
.ten-by-ten tbody td,
.ten-by-ten thead th,
.ten-by-ten thead td {
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-width: 75px;
  padding: 5px 10px;
  line-height: 1.4em;
}

.ten-by-ten tbody th,
.ten-by-ten tbody td {
  height: 2.8em;
}

.ten-by-ten tbody th {
  min-width: 185px;
  font-size: 0.9em;
}

.ten-by-ten tbody td .meta {
  font-style: italic;
  font-size: 0.9em;
}
